<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- 1. XML을 작성할 때는 반드시 <mapper>의 namespace 속성값을 Mapper 인터페이스와 동일한 이름으로 준다.  -->
<!-- 2. select 태그의 id 속성값은 Mapper 인터페이스의 메서드의 이름과 일치하게 작성한다.   -->
<!-- 3. resultType 속성의 값은 select 쿼리의 결과를 특정 클래스의 객체로 만들기 위해서 설정한다.  -->

<mapper namespace="org.zerock.mapper.BoardMapper">

<!-- 검색 처리 동적 SQL문 별도 보관 시작-->
<sql id="criteria">
  <trim prefix="(" suffix=") AND " prefixOverrides="OR">
    <foreach item='type' collection="typeArr">
      <trim prefix="OR">
	<choose>
	  <when test="type == 'T'.toString()">
	    title like '%'||#{keyword}||'%'
	  </when>
	  <when test="type == 'C'.toString()">
	    content like '%'||#{keyword}||'%'
	  </when>
	  <when test="type == 'W'.toString()">
	    writer like '%'||#{keyword}||'%'
	  </choose>
      </trim>
    </foreach>
  </trim>
</sql> 
<!-- 검색 처리 동적 SQL문 별도 보관 끝-->

<select id="getList" resultType="org.zerock.domain.BoardVO">
<![CDATA[
select * from tbl_board where bno > 0
]]>
</select>

<insert id="insert">
	insert into tbl_board (bno,title,content,writer)
	values (seq_board.nextval,#{title},#{content},#{writer})
</insert>

<insert id="insertSelectKey">

	<selectKey keyProperty="bno" order="BEFORE" resultType="long">
	select seq_board.nextval from dual
	</selectKey>
	
	insert into tbl_board (bno,title,content,writer)
	values (#{bno},#{title},#{content},#{writer})	
</insert>

<select id="read" resultType="org.zerock.domain.BoardVO">
	select * from tbl_board where bno = #{bno}
</select>

<delete id="delete">
	delete tbl_board where bno = #{bno}
</delete>

<update id="update">
	update tbl_board
	set title = #{title},
	content = #{content},
	writer = #{writer},
	updateDate = sysdate
	where bno = #{bno}
</update>



<!-- 검색 처리 전 게시물 페이징 목록 조회 코드 -->
<!-- <select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
<![CDATA[
		select 
		  bno, title, content, writer, regdate, updatedate
		from
			(
			select /*+index_desc(tbl_board pk_board)*/
			rownum as rn, bno, title, content, writer, regdate, updatedate
			from
			tbl_board
			where rownum <= #{pageNum} * #{amount}
			)
		where rn > (#{pageNum}-1) * #{amount}
	]]> -->
	
<!-- 검색 처리를 위한 게시물 페이징 목록 조회 코드 -->
<select id="getListWithPaging"
		resultType="org.zerock.domain.BoardVO">
  <![CDATA[
  select 
    bno, title, content, writer, regdate, updatedate
  from 
      (
      select /*+INDEX_DESC(tbl_board pk_board) */
        rownum rn, bno, title, content, writer, regdate, updatedate 
      from 
        tbl_board
      where 
  ]]>
  
	<include refid="criteria"></include>
	
  <![CDATA[    
      rownum <= #{pageNum} * #{amount}
      )
  where rn > (#{pageNum} -1) * #{amount}   
  ]]>
</select>

<!-- 검색 처리 전 데이터 개수 처리  -->
<!-- <select id="getTotalCount" resultType="int">
	select count(*) from tbl_board where bno>0
</select> -->

<!-- 검색 처리 후 데이터 개수 처리  -->
<!-- 동적 SQL을 이용해서 검색 조건을 처리하는 부분은 해당 데이터의 개수를 처리하는 부분에서도 동일하게 적용되어야함.
그래서 동적 SQL 처리 부분을 include 태그로 가져옴.  -->
 
<select id="getTotalCount" resultType="int">
	select count(*) from tbl_board 
	where
	<include refid="criteria"></include>
	bno>0
</select>

</mapper>	
